python_canopy(trees)/BST/bst_graph/
python_canopy(trees)/BST/__pycache__/

python_canopy(trees)/AVL/__pycache__/
python_canopy(trees)/AVL/avl_graph/
python_canopy(trees)/AVL/img/

python_canopy(trees)/R&B Tree/__pycache__
python_canopy(trees)/R&B Tree/img
